<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<%- rigging.css %>

		<%- rigging.js %>
		<script type="text/javascript" src="/js/moment.js"></script>
		<script type="text/javascript" src="/js/fillout.js"></script>
		<script type="text/javascript" src="/js/jquery.imagesloaded.min.js"></script>
		<script type="text/javascript" src="/js/cropbox.js"></script>

		<!-- Good ol' css -->
		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css"/>
		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/layout.css"/>
		<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css"/>

		<!-- Apple web capable -->
		<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<!-- <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" /> -->

		<style>

		</style>

	</head>
	<body>

		<!-- main content -->
		<div class="wrapper portal-only">
			<!-- top section with navigation and search -->
			<div id="topbar">
				<div id="top-nav" class="clearfix">

					<!-- logo and main navigation -->
					<div id="main-nav">
						<a href="#" class="logo-link"><img class="main-logo" src="/images/Branding_12.png" alt="Olympus" /></a>
						<ul class="clearfix">

						<% if(email != 'superadmin@olympus.io'){ %>

							<li>
								<a href="#" title="overview">
									<div class="main-nav-div">
										<img class="main-nav-imgs" src="/images/Top-Nav_OverviewIcon@2x.png"/>
										<span class="main-nav-span">Overview</span>
									</div>
								</a>
							</li>

							<%  if(apps != '1'){ 	%>
								<li>
									<a href="#users" title="users">
										<div class="main-nav-div special-user-topbar-fix">
											<img class="main-nav-imgs" src="/images/Top-Nav_UsersIcon@2x.png"/>
											<span class="main-nav-span">Users</span>
										</div>
									</a>
								</li>
							
								<li>
									<a href="#reports" title="reports">
										<div class="main-nav-div">
											<img class="main-nav-imgs" src="/images/Top-Nav_ReportsIcon@2x.png"/>
											<span class="main-nav-span">Add User</span>
										</div>
									</a>
								</li> 

							<% } %>							
						
							<li class="last-item">
								<a href="#settings" title="settings">
									<div class="main-nav-div">
										<img class="main-nav-imgs" src="/images/Top-Nav_SettingsIcon@2x.png"/>
										<span class="main-nav-span">Settings</span>
									</div>
								</a>
							</li> 

						<% }else{ %>

							<li class="last-item">
								<a href="#enterprises" title="enterprises" style="width:auto">
									<div class="main-nav-div">
										<img class="main-nav-imgs" src="/images/enterprises.png"/>
										<span class="main-nav-span">Enterprises</span>
									</div>
								</a>
							</li> 

							<li class="last-item">
								<a href="#listusers" title="users"  style="width:auto">
									<div class="main-nav-div">
										<img class="main-nav-imgs" src="/images/user_small.png"/>
										<span class="main-nav-span">List Users</span>
									</div>
								</a>
							</li> 

							<li class="last-item">
								<a href="#subscription" title="subscription plan"  style="width:auto">
									<div class="main-nav-div">
<img class="main-nav-imgs" 
src="/images/subscription_menu.png"/>
										<span class="main-nav-span">Subscription Plan</span>
									</div>
								</a>
							</li>

							<li class="last-item">
								<a href="#profile" title="Create profile"  style="width:auto">
									<div class="main-nav-div">
										<img class="main-nav-imgs" src="/images/manage_admin_profiles_small.png"/>
										<span class="main-nav-span">Manage Admin Profiles</span>
									</div>
								</a>
							</li> 

							<li class="last-item">
								<a href="#adminUser" title="Manage Admin User"  style="width:auto">
									<div class="main-nav-div">
										<img class="main-nav-imgs" src="/images/manage_admin_users_small.png"/>
										<span class="main-nav-span">Manage Admin Users</span>
									</div>
								</a>
							</li> 

							<li class="last-item">
								<a href="#log" title="View Log"  style="width:auto">
									<div class="main-nav-div">
										<img class="main-nav-imgs" src="/images/manage_admin_users_small.png"/>
										<span class="main-nav-span">View Log</span>
									</div>
								</a>
							</li>

						<% } %>
						</ul>
					</div>

					<!-- user navigaton outlet -->
					<div id="user-nav-outlet" class="user-nav-outlet"></div>
				</div>
			</div>

			<div id="content"></div>
			<div class="push"></div>
		</div>

		<!-- footer -->
		<div id="footer" class="portal-only clearfix">
			<div id="copyright-info">
				<img id="footer-logo" class="footer-logo-class" src="/images/Branding_12.png" />
				<span class="copyright-info"><%= sails.config.organization.copyright %></span>
			</div>
			<ul id="terms-policies" class="clearfix">
				<li><a target="_blank" href="<%= sails.config.organization.links.termsOfUse %>">Terms of Use</a>|</li>
				<li><a target="_blank" href="<%= sails.config.organization.links.privacyPolicy %>">Privacy Policy</a>|</li>
				<li class="last-item"><a target="_blank" href="<%= sails.config.organization.links.help %>">Help</a></li>
			</ul>
		</div>

		<script type="text/javascript">

			/////////////////////  HACK ///
			// Mast.isMobile = true;
			///////////////////// /HACK ///

			Mast.raise({
				afterRouteFn: function () {
					if (Mast.isMobile) {
						Olympus.mobileApp = new Mast.components.AppMobile();
					}
				},

				beforeRouteFn: function() {

				// If this is mobile, create the mobile app component
				if (Mast.isMobile) {
					Olympus = {};

					// Main app
					$(".wrapper").remove();
					$("#footer").remove();

				}
				// otherwise, create the components that make up the portal UI
				else {
					Olympus = {
						ui: {

						  	fileSystem: new Mast.components.SuperAdmin({
								outlet	: '#content'
							}),

							actionBar: new Mast.components.UploadSearchComponent(),
							
							userNavigation: new Mast.components.UserNavigationComponent()
						},
						util: {
							dropdownHelper: Mast.DropdownHelper
						},

                        isPrivateDeployment: <%- sails.config.privateDeployment %>
					};

					// Set active component
					//Olympus.ui.activeTable = Olympus.ui.fileSystem;
				}

			}});
		</script>

		<!-- Template library -->
		<%- rigging.templateLibrary %>
	</body>
</html>
